h1 To get top-10 words by length on page enter the URL below
form(role = 'form' method = 'GET' action = '/')
    input(type = 'search', name = 'url')
    input(type = 'submit' value = 'Get')
if warning
div incorrect url